.info {
  display:     flex;
  flex-wrap:   wrap;
  align-items: center;
  .item {
    margin-bottom: 16px;
    width:         50%;
    display:       flex;
    align-items:   center;
    &.people, &:last-child {
      width: 100%;
    }
    img {
      width:        16px;
      margin-right: 8px;
    }
    h5 {
      margin-bottom: 0;
      span {
        font-weight: 400;
      }
    }
  }
}
